@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);.container-main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90rem;
  padding: 50px 0px;
}

#main-section {
  background-color: var(--secondary-color);
}

.container-product {
  margin: auto;
  width: 90rem;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  /*-------------------------------
  COLORS
  ------------------------------*/
  --primary-color: #0282f9;
  --secondary-color: #464652;
}

/*-------------------------------
RESET
------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  width: 90rem;
  margin: auto;
}

.header-top {
  background-color: var(--primary-color);
  color: white;
  text-align: right;
}

li {
  margin: 0 10px;
}

.logo {
  padding-right: 40px;
}

.hero-img {
  background-image: url("../image/jumbotron.jpg");
  background-size: cover;
  width: 100%;
  min-height: 450px;
}