@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap);.container-main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90rem;
  padding: 50px 0px;
}

.container-product {
  margin: auto;
  width: 90rem;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  /*-------------------------------
  COLORS
  ------------------------------*/
  --primary-color: #0282f9;
  --secondary-color: #1c1c1c;
}

/*-------------------------------
RESET
------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-header {
  width: 90rem;
  margin: auto;
}

.header-top {
  background-color: var(--primary-color);
  color: white;
  text-align: right;
}

li {
  margin: 0 10px;
}

.logo {
  padding-right: 40px;
}

.hero-img {
  background-image: url("../image/jumbotron.jpg");
  background-size: cover;
  width: 100%;
  min-height: 450px;
}

main .container-main {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90rem;
  padding: 50px 0px;
}
main .btn_current_series {
  color: white;
  background-color: var(--primary-color);
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  position: relative;
  top: -70px;
}

.singol-card {
  flex-wrap: wrap;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.title {
  color: white;
  margin: 10px 0;
}

#main-section {
  background-color: var(--secondary-color);
}