.container-header{
    width: 90rem;
    margin: auto;
}
.header-top{
    background-color: var(--primary-color);
    color: white;
    text-align: right;
}


li{
    margin: 0 10px;
}

.logo{
    padding-right: 40px;
}